
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
  /* text-decoration: underline;
  text-decoration-color: red; */
  padding: 10px 20px 10px 20px;
  background-color: #1ABC9C;
}

svg.star-svg{
  display: inline;
}

/* Light Theme */
body {
  background-color: #ffffff;
  color: #000000;
}

/* Dark Theme */
body.dark-mode {
  background-color: #1C1C1C;
  color: #FDFEFE;
}